html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #15152c;
    color: #fff;
}

section {
    height: 100vh;
    padding: 2rem;
    scroll-margin-top: 60px; /* Adjust if navbar is fixed */
}
  
html {
    scroll-behavior: smooth;
}